# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Target directory (Maven)
target/

# IDE specific files
.idea/
*.iml
*.iws
.project
.classpath
.settings/